body {
  margin: 0px;
  padding: 0px;
}

/**
 * Navbar
 */
.navbar {
	margin-bottom: 0px;
	border: none;
}
.navbar-default {
	background: #3e454c;
}
.navbar-default .navbar-brand {
	color: white;
}
.navbar-fixed-top {
    min-height: 0px;
}
.navbar-fixed-top .navbar-collapse {
    max-height: 60px;
}
@media (min-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 50px;
    }
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .dropdown-menu > li > a {
	color: white;
}
.navbar-default li.dropdown, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .open > .dropdown-menu {
	background: #2c3136;
	color: white;
}
.open > .dropdown-menu {
	border: none;
}
.dropdown-menu > li > a {
	margin-bottom: 5px;
}

/**
 * Sidebar
 */
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 8px 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 4px solid #4f5b69;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 4px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 4px solid #4f5b69;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
  	width:calc(100% - 300px);
  	float: right;
  }
}
li.admin {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
li.admin:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.typeahead li a {
  color: black !important;
}

/**
 * Content
 */
.panel-body .number {
	font-size: 36px;
	color: white;
}
.panel-body .description {
	color: white;
}
.panel-footer a {
	color: #37a6c4;
	font-weight: 300;
	font-size: 12px;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
}
.panel-footer a:hover, .panel-footer a:focus {
	text-decoration: none;
}
.panel-title {
  color: #98978b !important;
  font-size: 11px !important;
  line-height: 22px !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.table-messages tbody tr {
  cursor: pointer;
}
.panel-title a:hover {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 110px;
  font: 700 12px/1 'Open Sans', sans-serif;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
  cursor: pointer;
  color: white;
  position: relative;
  padding-left: 40px;
  text-align: left;
}
.btn:not(.btn-after)::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    padding: 9px 0 12px;
    font-family: fontawesome;
    text-align: center;
    border-radius: 3px 0 0 3px;
    background: rgba(0, 0, 0, 0.15);
}
.btn-after { padding-right: 40px; padding-left: 16px; }
.btn-after::after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    padding: 9px 0 12px;
    font-family: fontawesome;
    text-align: center;
    border-radius: 0 3px 3px 0;
    background: rgba(0, 0, 0, 0.15);
}
.btn-success { background: #6b6; }
.btn-success:hover { background: #5a5; }
.btn-danger { background: #d33; }
.btn-danger:hover { background: #c22; }
.btn-primary { background: #48c; }
.btn-primary:hover { background: #59c; }
.icon-new::before { content:"\f067"; }
.icon-delete::before { content:"\f068"; }
.icon-edit::before { content:"\f040"; }
.icon-back::before { content:"\f053"; }
.icon-next::after { content:"\f054"; }
.icon-ban::before { content:"\f05e"; }

.table tbody tr td { vertical-align : middle; }
.navbar-brand > img {
    display: block;
    width: 120px;
}
