/* TEMPLATE STYLES */

html,
body,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #3c4f74;
}

footer.page-footer {
    background-color: #3c4f74;
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
/*Call to action*/

.flex-center {
    color: #fff;
}

.view {
    background: url("../images/BKGbody.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Contact section*/

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #1C2331;
}

.font13 {font-size: 13px;}
.shadow {text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);}
.col-md-3 a:hover {text-decoration: underline !important;}
.text-left {text-align: left !important;}
.widthm {width: 120px; height: 80px;}
a.dropdown-item:hover {
    background-color: #4db6ac !important;
}
.dropdown-menu {
  padding: 0;
}
.item-campaign-wrapper .entry-thumbnail {
    position: relative;
    overflow: hidden;
}
.item-campaign-wrapper.style-3 .body-inner {
    padding: 30px;
}
.item-campaign-wrapper.style-3 .entry-heading {
    text-align: left;
    display: inline-block;
    height: auto;
    margin-bottom: 15px;
}
.item-campaign-wrapper.style-3 .entry-heading .entry-title {
    display: block;
    height: auto;
    margin: 0;
    text-align: left;
}
.item-campaign-wrapper.style-3 .campaign-main-style-3 {
    position: relative;
    display: table;
    width: 100%;
}
.wp-post-image {
  width:350px;
  height:192px;
  display: inline;
}
.divider-new::after, .divider-new::before {
  background: white;
}
#second {
  background-image: url('../images/startup-593327_1920.jpg');
  background-position: cover;
}
#second2 {
  color: white;
}
.icon {
  display: inline-block;
  text-align: center;
  width: 90px;
  height: 90px;
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
#second p {
  padding: 30px 0 0;
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Lato', sans-serif;
}
.divider-new {
  padding: 20px 0 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.divider-new:after, .divider-new:before {
  background: none;
}
.divider-new .hr {
  height: 1px;
  width: 20%;
  background: grey;
}
#second2 {
  color: black;
}
.wpo-footer {
    background: #121713;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    color: #fff;
    border-bottom: none;
    font-size: 16px;
}
footer p {
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
footer .logo {
  background-image: url('../images/footer.png') !important;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
}
footer .footer-link {
  text-transform: none;
  margin: 0px;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 0;
}
footer .footer-link a {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
}
footer .footer-link-head {
  color: #3c4f74;
  text-transform: uppercase;
  margin: 0 0 10px;
  font-weight: 900;
  padding: 0 0 0;
  font-size: 14px;
  text-align: left;
  border: none;
}
#section3 {
  background: #101820 !important;
  padding: 50px 0 50px;
}
